.hero {
    min-width: 75vw;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 6rem;
    text-shadow: 0 0 10px #0ff, 0 0 20px #f0f, 0 0 30px #0ff;
}

.hero .subtitle {
    margin-top: 20px;
    font-size: 1.5rem;
    color: rgb(237, 135, 237);
    text-shadow: 0 0 10px #f0f, 0 0 20px #0ff, 0 0 30px #f0f;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.8rem;
    }
    
    .hero .subtitle {
        font-size: 1rem;
    }
}